<div class="md:container md:mx-auto">
    <div class="grid grid-cols-12 gap-y-5 gap-x-5">
        <h1 class="col-span-full text-white text-9xl text-center">Ravenclaw Electrics</h1>
        <h2 class="col-span-full text-white text-3xl">Get started with our entry level options below:</h2>
        {{#each cars}}
        <div class="col-span-8">
            <figure class="relative hover:opacity-80 col-span-full">
                <a href="/car/{{id}}">
                    <img src=/{{url}} alt="">
                </a>
                <figcaption class=" absolute text-3xl -mt-16 text-white px-4 text-center">
                    <div>
                        <h1 class="text-center">{{name}}</h1>
                    </div>
                </figcaption>


            </figure>
        </div>

        <div class="col-span-4 text-white">
            <p>{{description}}</p>
        </div>
        {{/each}}
    </div>
</div>